<%- include ("../../partials/header") %>

<body class="bg-dark text-light">
  <%- include ("../../partials/navbar") %>
  <div class="Feedback-SOC-Content">
    <div class="container row mx-auto">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div>
          <a href="/athletics"
            ><img
              class="sport-icon text-light"
              src="/images/sports/athletics.png"
              alt="Athletics-img"
              srcset=""
          /></a>

          <h2><a href="/athletics" class="text-center">Athletics</a></h2>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div>
          <a href="/aquatics"
            ><img
              class="sport-icon"
              src="/images/sports/athletics.png"
              alt="Athletics-img"
              srcset=""
          /></a>

          <h2><a href="/aquatics" class="text-center">Aquatics</a></h2>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div>
          <a href="/badminton"
            ><img
              class="sport-icon"
              src="/images/sports/athletics.png"
              alt="Athletics-img"
              srcset=""
          /></a>

          <h2><a href="/badminton" class="text-center">Badminton</a></h2>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div>
          <a href="/basketball"
            ><img
              class="sport-icon"
              src="/images/sports/athletics.png"
              alt="Athletics-img"
              srcset=""
          /></a>

          <h2><a href="/basketball" class="text-center">Basketball</a></h2>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div>
          <a href="/chess"
            ><img
              class="sport-icon"
              src="/images/sports/athletics.png"
              alt="Athletics-img"
              srcset=""
          /></a>

          <h2><a href="/chess" class="text-center">Chess</a></h2>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div>
          <a href="/cricket"
            ><img
              class="sport-icon"
              src="/images/sports/athletics.png"
              alt="Athletics-img"
              srcset=""
          /></a>

          <h2><a href="/cricket" class="text-center">Cricket</a></h2>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div>
          <a href="/football"
            ><img
              class="sport-icon"
              src="/images/sports/athletics.png"
              alt="Athletics-img"
              srcset=""
          /></a>

          <h2><a href="/football" class="text-center">Football</a></h2>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div>
          <a href="/hockey"
            ><img
              class="sport-icon"
              src="/images/sports/athletics.png"
              alt="Athletics-img"
              srcset=""
          /></a>

          <h2><a href="/hockey" class="text-center">Hockey</a></h2>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div>
          <a href="squash"
            ><img
              class="sport-icon"
              src="/images/sports/athletics.png"
              alt="Athletics-img"
              srcset=""
          /></a>

          <h2><a href="/squash" class="text-center">Squash</a></h2>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div>
          <a href="/tennis"
            ><img
              class="sport-icon"
              src="/images/sports/athletics.png"
              alt="Athletics-img"
              srcset=""
          /></a>

          <h2><a href="/tennis" class="text-center">Tennis</a></h2>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div>
          <a href="/tabletennis"
            ><img
              class="sport-icon"
              src="/images/sports/athletics.png"
              alt="Athletics-img"
              srcset=""
          /></a>

          <h2><a href="/tabletennis" class="text-center">Table Tennis</a></h2>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div>
          <a href="/volleyball"
            ><img
              class="sport-icon"
              src="/images/sports/athletics.png"
              alt="Athletics-img"
              srcset=""
          /></a>

          <h2><a href="/volleyball" class="text-center">Volleyball</a></h2>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div>
          <a href="/weightlifting"
            ><img
              class="sport-icon"
              src="/images/sports/athletics.png"
              alt="Athletics-img"
              srcset=""
          /></a>

          <h2>
            <a href="/weightlifting" class="text-center">Weight Lifting</a>
          </h2>
        </div>
      </div>
    </div>
  </div>
  <%- include ("../../partials/footer") %> <%- include
  ("../../partials/scrollTop") %>
</body>
