<%- include ("../../../partials/header") %>

<body class="bg-dark">
  <%- include ("../../../partials/navbar") %>

  <div class="card align-center bg-dark">
    <img
      class="card-img-top profile-resize"
      src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
      alt=""
    />
    <div class="card-body">
      <h5 class="card-title">Athletics</h5>
    </div>
  </div>

  <%- include ("../../../partials/footer") %>
</body>
