<%- include ("../../../partials/header") %>

<body class="bg-dark">
  <%- include ("../../../partials/navbar") %>

  <div class="card align-center bg-dark text-light">
    <img
      class=""
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTtve5IzQeWwNR9u_lnH6X8ViSXG2RJJ4gFMQ&usqp=CAU"
      alt=""
    />
    <div class="card-body">
      <h5 class="card-title">Weight Lifting</h5>
    </div>
  </div>

  <%- include ("../../../partials/footer") %>
</body>
